
services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    image: mariadb
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    image: wordpress
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    depends_on:
      - mariadb
      - redis

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    image: nginx
    restart: unless-stopped
    ports:
      - 443:443
    env_file:
      - .env
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    depends_on:
      - wordpress
      - adminer

  static-site:
    build: ./requirements/bonus/static-site
    container_name: static-site
    image: static-site
    restart: unless-stopped
    ports:
      - 8080:8080
    networks:
      - inception

  adminer:
    build: ./requirements/bonus/Adminer
    container_name: adminer
    image: adminer
    restart: unless-stopped
    networks:
      - inception
    depends_on:
      - mariadb

  redis:
    build: ./requirements/bonus/redis
    container_name: redis
    image: redis
    restart: unless-stopped
    networks:
      - inception
    
  
  cadvisor:
    build: ./requirements/bonus/cadvisor
    container_name: cadvisor
    image: cadvisor
    restart: unless-stopped
    ports:
      - 8082:8080
    volumes:
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - inception
    privileged: true



volumes:
  mariadb_data:
    driver_opts:
      type: none
      o: bind
      device: /home/oessaadi/data/mariadb
  wordpress_data:
    driver_opts:
      type: none
      o: bind
      device: /home/oessaadi/data/wordpress

networks:
  inception:
    driver: bridge
